body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/fundo.webp');
    background-size: cover;
}

header {
    padding: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #F9E3BE; /* Cor do header */
    backdrop-filter: blur(10px);
}

header img {
    max-width: 200px;
}

header h1 {
    margin-top: 10px;
    color: #333; /* Cor do texto no header */
}

main {
    text-align: center;
    margin-top: 50px;
}.listar-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    text-decoration: none; /* Adicionado para remover sublinhado padrão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    box-sizing: border-box;
}

.listar-button:hover {
    background-color: #555;
}
/*consulta cliente */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}

.actions {
    text-align: center;
}

.actions a {
    text-decoration: none;
    color: #333;
    margin: 0 5px;
}
